.myImglogo {
  background-color: red;
  clip-path: circle(50% at 50% 50%);
  cursor: pointer;
}

/* @media screen and (max-width: 1230px) {
  .myImglogo {
    background-color: yellowgreen;
  }
}

@media screen and (min-width: 769px) and (max-width: 1230px) {
  .myImglogo {
    background-color: purple;
  }
}

@media screen and (min-width: 813px) and (max-width: 1230px) {
  .myImglogo {
    background-color: yellow;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1230px) {
  .myImglogo {
    background-color: blue;
  }
} */